<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.team27.lostandfound"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.HomePage"
            android:label="@string/title_activity_login_status" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.team27.lostandfound.Login" />
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.Register"
            android:label="@string/title_activity_register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.team27.lostandfound.Register" />
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.LostItemInput"
            android:label="@string/title_activity_lost_item_input" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.LostItem"
            android:label="@string/title_activity_lost_item" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.LostItemInfo"
            android:label="@string/title_activity_lost_item_info" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.LoginAdmin"
            android:label="@string/title_activity_login_admin" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.UserList"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.team27.lostandfound.AdministrateUser"
            android:label="@string/title_activity_administrate_user" >
        </activity>
    </application>

</manifest>